body{
	padding-left: 500px;
	color:white;
	background-color: black;
	font-family: Lato;
}


p
{
	font-size: 20px;
	font-family: Lato;
	line-height: 10px;
	word-spacing: 30px;

}

#footer
{
	font-family: Lato;
	font-size: 20px;
}

